<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/static/js/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="row">
        <div class="span6">
			<p>
				12312321321321
			</p>
		</div>
		<div class="span6">
            <div id="img" style="position: fixed;height:666px; width: 500px; background-image:url('/static/img/shrink.png');">



			</div>
		</div>
	</div>
</div>

<script src="/static/source/main.js"></script>
</body>
</html>